/* Hero Section */
.heroContact {
  text-align: center;
  padding: 60px 20px;
  align-items: center;
  max-width: 100dvw;
  width: 100%;
  height: 60dvh !important;
  display: flex;
  justify-content: center;
  background-image: url("../assets/contact/razor-markets-customer-support.png");
  background-size: cover;
  background-position: center;
}

.heroContact h1 {
  font-size: clamp(2rem, 4dvw, 5rem) !important;
  font-weight: bold;
  line-height: 1;
  /* margin: auto; */
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.heroContact {
  /* border: 2px solid; */
  /* border-image-source: linear-gradient(180deg, #1EE981 0%, #0E92CA 71.61%); */
  border-image-slice: 1;
}

.heroContact p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 30px;
  color: #fff;
  /* Light gray for text */
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cta-buttons .btn {
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

#accountCardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}


#accountCardsContainer p {
  margin: 0;
}

#card-bg {
  width: 16.25rem;
    height: fit-content;
    display: flex;
    border-radius: 20px;
    background: linear-gradient(180deg, #1EE981 0%, #0E92CA 71.61%);
    flex-direction: row;
    align-items: center;
    padding: 0.0625rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}


.feature-card-account-types {
  background: #26292E;
  border: 1px solid rgba(0, 209, 255, 0.5); /* Border with a soft blue glow */
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  width: 300px; /* Adjust width to match the card dimensions */
  height: auto;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow */
}

.feature-card-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.feature-card-header::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff; 
}

.feature-card-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  filter: drop-shadow(0px 0px 15px #487DF799);
}

.feature-card-header h2 {
  font-size: 20px;
  color: #FFFFFF;
  margin: 0;
}



.feature-card-header h3 {
  font-size: 12px !important;
  margin: 0;
  font-weight: 400 !important;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.feature-card-account-types:hover {
  border-color: #00d1ff; /* Highlight color on hover */
}

.feature-card-account-types h3 {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.card-account-contents {
  position: relative;
  margin-bottom: 25px;
}

.card-account-contents p {
  font-size: 12px !important;
  color: #fff; /* Light gray text */
  margin-bottom: 10px;
  font-weight: 400 !important;
  display: flex;
}

.card-account-contents p strong {
  width: 50%;
  color: #fff;
} 

.card-account-contents::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff; 
}






.feature-card-account-types a {
  margin: auto;
}



/* Section 1 */

.trade-section {
  background-color: #171A20;
  color: #ffffff;
  /* padding: 4rem 1.5rem; */
  padding: 3.75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  flex-direction: row;
}

.account-types-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40%;
}

@media (max-width: 750px) {
  .trade-section {
    flex-direction: column-reverse;
  }

  .account-types-content {
    max-width: 80%;
  }
}

.account-types-content h1 {
  text-align: left;
  margin: 0 !important;
  font-weight: bold;
  width: 60%;
  line-height: 1;
}
.account-types-content p {
  margin-top: 1rem;
  color: #b1b1b3;
  margin-bottom: 15px;
}




.info-badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  max-width: 23dvw;
  height: 300px;
  min-width: 300px;
}

.buttons {
  width: 56%;

}

.info-badge {
  background-color: #3c3c3f;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.info-badge i {
  margin-right: 0.5rem;
}

.info-badges img {
  max-width: 36dvw;
  min-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: floats 3s ease-in-out infinite;
}

@keyframes floats {
  0% {
  
      transform: translate(-50%, -50%);
  }
  50% {
      
      transform: translate(-50%, -48%);
  }
  100% {
  
      transform:translate(-50%, -50%);
  }
}

.info-badges .badge1 {
  top: -2rem;
  left: 2rem;
}
.info-badges .badge2 {
  top: 2rem;
  left: 4rem;
}
.info-badges .badge3 {
  top: 5rem;
  left: 1rem;
}
.shield-icon {
  position: relative;
  width: 150px;
  height: 150px;
  background: url('https://via.placeholder.com/150') no-repeat center center;
  background-size: contain;
}

/* FORM */

.form-container {
  border-radius: 10px;
  border: 1px solid #2DD4BF;
  padding: 20px;
  background: #26292E3D !important;
  max-width: 900px!important;
  margin: 0 auto;
}

/* Styling the active tab */
.tabs ul li.is-active a {
    color: #2DD4BF; /* Customize active tab color */
    border-bottom: 2px solid #2DD4BF; /* Border color for active tab */
}

.input:focus {
  border-color: #2DD4BF !important;
  box-shadow: 0 0 0 0.1874em #2dd4be36 !important;
}

/* Styling for the inactive tabs */
.tabs ul li a {
    color: #CCCCCC;
    text-transform: uppercase;
}

.field label {
    color: #fff !important;
    text-transform: uppercase;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.field {
  min-width: 48%;
  margin: 0;
}

@media (max-width: 650px) {
  .field {
    min-width: 100%;
  }
}

.field input {
  width: 100%;
}

.tabs ul {
  border: none !important;
}

  /* Box styling to match background and input fields */
  .box {
    background-color: #2e2e2e00 !important;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none !important;
    padding: 0px;
  }
  
  .box input, .box textarea {
    background: #26292E00 !important;
    color: #ffffff !important;
    border: 1px solid #555555;
  }
  .box input::placeholder,
  .box textarea::placeholder {
      color: #d4d2d2;
  }




/* Submit button styling */
.button.is-info {
    background-color: #2DD4BF;
    border: none;
}

.button.is-info:hover {
    background-color: #23b6a2; /* Darken on hover */
}

.tradingview-widget-container{
  display: flex;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 75dvh;
  flex-direction: column;
  margin-top: -150px;
}